<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">ِAdmin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/manage-my-blog">
            <i class="material-icons">article</i> <!-- استخدام أيقونة Material Icons -->
            <span>Manage My Blogs</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/manage-blog">
            <i class="material-icons">article</i> <!-- استخدام أيقونة Material Icons -->
            <span>Manage Blogs</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/manage-Public-gallery">
            <i class="material-icons">photo_library</i> <!-- استخدام أيقونة Material Icons -->
            <span>Manage Public Galleries</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " routerLink="/manage-orders">
            <i class="material-icons">receipt</i> <!-- استخدام أيقونة قائمة الطلبات -->
            <span>Manage Orders</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " routerLink="/manage-category">
            <i class="material-icons">category</i> <!-- استخدام أيقونة قائمة الطلبات -->
            <span>Manage Categories</span>
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link " routerLink="/manage-users">
            <i class="material-icons">group</i> <!-- استخدام أيقونة قائمة الطلبات -->
            <span>Manage Users</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " routerLink="/manage-services">
            <i class="material-icons">build</i> <!-- استخدام أيقونة قائمة الطلبات -->
            <span>Manage Services</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " routerLink="/manage-technical-support">
            <i class="material-icons">support_agent</i> <!-- استخدام أيقونة قائمة الطلبات -->
            <span>Manage Technical support</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " routerLink="/manage-contact-request">
            <i class="material-icons">contact_mail</i> <!-- استخدام أيقونة قائمة الطلبات -->
            <span>Manage Contact Requests</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link " routerLink="/manage-private-gallery">
            <i class="material-icons">photo_library</i> <!-- استخدام أيقونة قائمة الطلبات -->
            <span>Manage Private Gallery</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/manage-comments">
            <i class="material-icons">comment</i>
            <span>Manage Comments</span>
        </a>
    </li>    
    
</ul>
<!-- End of Sidebar -->